<!DOCTYPE html>
<html lang="en" ng-app="editoraModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sistema Biblioteca</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	  <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="controll/editoraControl.js"></script>
  </head>
<body ng-controller="editoraControl">
  

    
    
  <div ng-include="'menu.html'"></div>

  <div class="panel panel-default">
  <div class="panel-heading">Cadastro de Editoras</div>
  <div class="panel-body">
    <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cadastro</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Dados</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active espaco_entre_botoes" id="home ">

<form class="form-horizontal">
   <button type="submit"  ng-click="novo();" class="btn btn-primary">Novo</button>
  <button type="submit"  ng-click="salvar();" class="btn btn-success">Cadastrar</button>
  <button type="submit"  ng-click="pesquisar();" class="btn btn-warning">Pesquisar</button>
  <button type="submit"  ng-click="excluir();" class="btn btn-danger">Excluir</button>



  <div class="form-group espaco_entre_botoes">
    <label for="exampleInputcodigo" class="col-sm-1 control-label">Código</label>
    <div class="col-sm-5">
    <input type="text" class="form-control" ng-model="editora.codigo" disabled="true" placeholder="Codigo">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputnome" class="col-sm-1 control-label">Nome</label>
    <div class="col-sm-5">
    <input type="text" class="form-control"  ng-model="editora.nome"placeholder="Nome">
  </div>
</div>
  <div class="form-group">
    <label for="exampleInputendereco" class="col-sm-1 control-label">Endereço</label>
    <div class="col-sm-5">
    <input type="text" class="form-control"  ng-model="editora.endereco"placeholder="Endereco">
  </div>
  </div>
  <div class="form-group">
    <label for="exampleInputcidade" class="col-sm-1 control-label">Cidade</label>
    <div class="col-sm-5">
    <input type="text" class="form-control"  ng-model="editora.cidade"placeholder="Cidade">
  </div>
</div>
  <div class="form-group">
    <label for="exampleInputcep" class="col-sm-1 control-label">CEP</label>
    <div class="col-sm-5">
    <input type="text" class="form-control"  ng-model="editora.cep" placeholder="CEP">
  </div>
</div>
   <div class="form-group">
    <label for="exampleInputpais" class="col-sm-1 control-label">Pais</label>
    <div class="col-sm-5">
    <input type="text" class="form-control"  ng-model="editora.pais" placeholder="pais">
  </div>
</div>
  <div class="form-group">
    <label for="exampleInputtelefone" class="col-sm-1 control-label">Telefone</label>
    <div class="col-sm-5">
    <input type="text" class="form-control"  ng-model="editora.telefone" placeholder="Telefone">
  </div>
</div>
<div class="form-group">
    <label for="exampleInputtelefone" class="col-sm-1 control-label">Descrição</label>
    <div class="col-sm-5">
    <input type="text" class="form-control"  ng-model="editora.descricao" placeholder="descrição">
  </div>
</div>
  
  
  
</form>

    </div>

    <!-- Segunda aba "dados" -->
    <div role="tabpanel" class="tab-pane" id="profile">


<table class="table table-striped">
  <!-- th vai ser o nome dos campos da minha tabela -->
 <th> Código </th>
 <th> Nome </th>
 <th> Endereço </th>
 <th> Cidade </th>
 <th> Cep </th>
 <th> País </th>
 <th>Telefone </th>
  <th>Descrição </th>
 
<!-- nas tags tr eu vou colocar quais campos vao ser inseridos na minha tabela para isso vai ser usado o angularjs -->
  <tr ng-repeat="editoraTabela in editoras" ng-click="selecionaEditora(editoraTabela);">
    <td>{{editoraTabela.codigo}}</td>
    <td>{{editoraTabela.nome}}</td>
    <td>{{editoraTabela.endereco}}</td>
    <td>{{editoraTabela.cidade}}</td>
    <td>{{editoraTabela.cep}}</td>
    <td>{{editoraTabela.pais}}</td>
    <td>{{editoraTabela.telefone}}</td>
    <td>{{editoraTabela.descricao}}</td>
  </tr>
</table>




    </div>
    
  </div>

</div>


  </div>
</div>
</div>


</body>
</html>